<launch>

  <arg name="use_fake" default="false"/>

  <node pkg="iter_app" type="timing.py" name="timing" output="screen">
    <param name="fake_time" value="$(arg use_fake)" />
  </node>

  <node unless="$(arg use_fake)" pkg="iter_app" type="rad_test.py" name="rad_test" output="screen"/>

  <include file="$(find rad_ui)/launch/main.launch">
    <arg name="rosbridge_host" value="localhost"/>
    <arg name="rosbridge_port" value="9090"/>
  </include>

</launch>
