
<!-- Calibration Instructions -->
<!-- Start this launch file to configure usb_cam then, follow procedure at: -->
<!-- http://wiki.ros.org/camera_calibration -->

<launch>

  <arg name="video_src" default="/dev/video0" />

  <arg name="launch_calibrator" default="true"/>
  <arg name="size" default="8x6"/>
  <arg name="square" default="0.025"/>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node">
    <param name="video_device" value="$(arg video_src)" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap" />
  </node>

  <node name="image_view_initial" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw" />
    <param name="autosize" value="true" />
    <param name="~image_transport" value="compressed" />
  </node>

  <include if="$(arg launch_calibrator)" file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="15"/>
    <arg name="pkg" value="iter_vision"/>
    <arg name="file" value="calibration_app.launch"/>
    <arg name="value" value="size:=$(arg size) square:=$(arg square) image:=/usb_cam/image_raw camera:=/usb_cam"/>
    <arg name="node_name" value="timed_roslaunch_calibrator"/>
  </include>

</launch>
