<!-- Initial structure taken from NRI Project -->

<launch>

    <arg name="robot"/>
    <arg name="simulated" default='true'/>
    <arg name="use_cli" default='false'/>
    <arg name="rad_ui" default='false'/>

    <!-- Include Rosbridge launches -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <!-- UR3 -->
    <group if="$(eval arg('robot') == 'ur3')">
      <rosparam param="robot">'ur3'</rosparam>
      <rosparam param="arm_move_group">'manipulator'</rosparam>
      <rosparam param="gripper_move_group">'gripper'</rosparam>
      <rosparam param="gripper_type">'robotiq-85'</rosparam>

      <include file="$(find iter_app)/launch/ur3.launch">
        <arg name="simulated" value="$(arg simulated )"/>
      </include>
    </group>

    <!-- UR5 -->
    <group if="$(eval arg('robot') == 'ur5')">
      <rosparam param="robot">'ur5'</rosparam>
      <rosparam param="arm_move_group">'manipulator'</rosparam>
      <rosparam param="gripper_move_group">'gripper'</rosparam>
      <rosparam param="gripper_type">'robotiq-85'</rosparam>

      <include file="$(find iter_app)/launch/ur5.launch">
        <arg name="simulated" value="$(arg simulated )"/>
      </include>
    </group>

    <!-- Kinova Mico 3 Finger-->
    <group if="$(eval arg('robot') == 'mico-3')">
      <rosparam param="robot">'mico-3'</rosparam>
      <rosparam param="arm_move_group">'arm'</rosparam>
      <rosparam param="gripper_move_group">'gripper'</rosparam>
      <rosparam param="gripper_type">'mico-3'</rosparam>

      <include file="$(find iter_app)/launch/mico-3.launch">
        <arg name="simulated" value="$(arg simulated )"/>
      </include>
    </group>

    <!-- Kinova Mico 2 Finger-->
    <group if="$(eval arg('robot') == 'mico-2')">
      <rosparam param="robot">'mico-2'</rosparam>
      <rosparam param="arm_move_group">'arm'</rosparam>
      <rosparam param="gripper_move_group">'gripper'</rosparam>
      <rosparam param="gripper_type">'mico-2'</rosparam>

      <include file="$(find iter_app)/launch/mico-2.launch">
        <arg name="simulated" value="$(arg simulated )"/>
      </include>
    </group>

    <!-- Kinova Mico + Robotiq 85 -->
    <group if="$(eval arg('robot') == 'mico-robotiq85')">
      <rosparam param="robot">'mico-robotiq85'</rosparam>
      <rosparam param="arm_move_group">'arm'</rosparam>
      <rosparam param="gripper_move_group">'gripper'</rosparam>
      <rosparam param="gripper_type">'robotiq-85'</rosparam>

      <include file="$(find iter_app)/launch/mico-robotiq85.launch">
        <arg name="simulated" value="$(arg simulated )"/>
      </include>
    </group>

    <!-- Start backend -->
    <node pkg="iter_app" type="timing.py" name="timing" output="screen"/>
    <node pkg="iter_app" type="runner.py" name="runner" output="screen"/>

    <!-- Start RAD UI -->
    <group if="$(arg rad_ui)">
      <node name="web_server" pkg="iter_app" type="frontend_node_start.sh" args='$(find iter_app)/rad_ui' output='screen'/>
    </group>

    <!-- Start cli -->
    <group if="$(arg use_cli)">
      <node pkg="iter_app" type="cli.py" name="cli" output="screen"/>
    </group>

</launch>
