<launch>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap" />
  </node>

<!--
  <node name="image_view_initial" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw" />
    <param name="autosize" value="true" />
  </node>
-->

  <node name="block_vision" pkg="iter_app" type="block_vision.py" output="screen" />

  <node name="image_view_final" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/block_vision/image" />
    <param name="autosize" value="true" />
    <param name="~image_transport" value="compressed" />
  </node>

</launch>
