<launch>
  <param name="robot_type" value="m1n6s300" />

  <arg name="simulated" default='true'/>
  <arg name="use_rik_julia" default="false"/>
  <arg name="use_rik_static" default="false"/>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robot_descriptions)/urdf/kinova_mico/relaxed_ik_m1n6s300.xacro'" />

  <!-- If simulated, we do not have a robot connected -->
  <group if="$(eval arg('simulated') == true)">
    <param name="robot_connected" value="false" />

    <node name="virtual_robot_controller" pkg="robot_behavior" type="virtual_robot_controller.py">
      <param name="~gripper_joint" value="[m1n6s300_joint_finger_1,m1n6s300_joint_finger_2,m1n6s300_joint_finger_3]" />
    </node>

    <!-- We do not have a robot connected, so publish fake joint states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="/use_gui" value="false"/>
      <rosparam param="/source_list">[/virtual_controller/joint_states]</rosparam>
      <param name="zeros/m1n6s300_joint_2" value="3.1415"/>
      <param name="zeros/m1n6s300_joint_3" value="3.1415"/>
    </node>
  </group>


  <!-- Else, we launch physical robot -->
  <group if="$(eval arg('simulated') == false)">
    <param name="robot_connected" value="true" />

    <!-- Launch robot driver -->
    <include file="$(find kinova_bringup)/launch/kinova_robot.launch">
      <arg name="kinova_robotType" value="m1n6s300"/>
    </include>

    <!-- Run joint trajectory action server, which receives planned motion goal under "follow_joint_trajectory", and publish ROS standard trajectory via topic "command". Then for specified robot, the trajectory will be interpreted to their own joint trajectory controller -->
    <node name="m1n6s300_joint_trajectory_action_server" pkg="kinova_driver" type="joint_trajectory_action_server" output="screen" respawn="false" args="m1n6s300"/>

    <!-- Run gripper command action server, which receives planned motion goal under "gripper_command". After receiving the command from Moveit Rviz Plugin, this node act as an actionlib client and send the goal to the finger position action server from kinova_driver.  -->
    <node name="m1n6s300_gripper_command_action_server" pkg="kinova_driver" type="gripper_command_action_server" output="screen" respawn="false" args="m1n6s300"/>
  </group>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Setup robot configuration for Relaxed Ik -->
  <param name="use_rik_static" value="$(arg use_rik_static)"/>

  <group if="$(arg use_rik_static)">
    <param name="path_to_relaxed_ik_src" value="$(find relaxed_ik)/src"/>
    <param name="info_file_name" value="mico_info.yaml"/>
  </group>

  <group unless="$(arg use_rik_static)">
    <include file="$(find relaxed_ik)/launch/load_info_file.launch">
      <arg name="info_file_name" value="info_mico.yaml"/>
    </include>
    <include file="$(find timed_roslaunch)/launch/timed_roslaunch">
      <arg name="time" value="1"/>
      <arg name="pkg" value="relaxed_ik"/>
      <arg if="$(arg use_rik_julia)" name="file" value="relaxed_ik_julia.launch"/>
      <arg unless="$(arg use_rik_julia)" name="file" value="relaxed_ik_python.launch"/>
    </include>
  </group>

  <!-- RVIZ -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find iter_app)/rviz/rik-robot-tf.rviz"/>

</launch>
