<launch>

  <arg name="simulated" default='true'/>
  <arg name="planner" default="rik_python"/>
  <arg name="use_static" default="false"/>

  <!-- If using Relaxed-IK -->
  <group if="$(eval arg('planner') == 'rik_python' or arg('planner') == 'rik_julia')">
    <include file="$(find iter_app)/launch/robots/ur3e-rik.launch">
      <arg name="simulated" value="$(arg simulated)"/>
      <arg name="planner" value="$(arg planner)"/>
      <arg name="use_static" value="$(arg use_static)"/>
    </include>
  </group>

  <!-- Else if use moveit-->
  <group if="$(eval arg('planner') == 'moveit')">
    <include file="$(find iter_app)/launch/robots/ur3e-moveit.launch">
      <arg name="simulated" value="$(arg simulated)"/>
    </include>
  </group>

  <!-- Else if use ur direct-->
  <group if="$(eval arg('planner') == 'ur')">
    <include file="$(find iter_app)/launch/robots/ur3e-ur.launch">
      <arg name="simulated" value="$(arg simulated)"/>
    </include>
  </group>

</launch>
