* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #F1F1F1;
  height: 100%;
  width: 100%;
}

.time {
  color: #000;
  font-size: 10em;
}

.outer {
  position: relative;
  height: 100%;
}

.container {
  width: 25%;
  padding: 15px 25px;
  position: absolute;
  left: 32%;top: 30%;
}

.color-box {
  text-align: center;
  background: #757575;
  width: 500px;
  padding: 25px, 25px, 25px, 25px;
  border: 5px solid #000;
  border-radius: 50px;
  -moz-border-radius: 50px;
}
